<form class="form-signin" role="form" action="/reminder" method="post">
  <h2 class="form-signin-heading">What would you like to Recall?</h2>
  <label for="inputEmail" class="sr-only">Knowledge Title</label>
  <input type="text" name="reminder" id="knowledge" class="form-control" placeholder="Crypto Course Week 1..." required="" autofocus="">
  <button class="btn btn-lg btn-primary btn-block" type="submit">Recall</button>
</form>

