<html>
  <head>
  	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Recall</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <style>
    	div.container {
    		width: 400px;
    	}
    	input#knowledge {
    		margin-top: 30px;
				margin-bottom: 30px;
    	}
    	.form-control {
    		margin-top: 20px;
				margin-bottom: 20px;
    	}

    	.navbar-brand {
    		padding-top:9px !important;
    	}

    	.reminders {
    		padding-top:30px;
    	}

    	.new-reminder {
    		padding-top:15px;
    	}

    	a.remove {
    		color: red;
    	}

    	td.remove {
    		text-align: center;
    	}
    </style>
  </head>

  <body style="margin: 20px;">
  	<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="/">
		        <img alt="Brand" src="/images/brain.png">
		      </a>
		    </div>
		    <div class="navbar-right collapse navbar-collapse">
		    	<div id="loggedOut">
				    <button type="button" class="btn btn-default navbar-btn" onClick="signup();">Sign Up</button>
				    <button type="button" class="btn btn-default navbar-btn" onClick="login();">Log in</button>
				   </div>
				   <div id="loggedIn">
				   		<button type="button" class="btn btn-default navbar-btn" onClick="signout();">Sign Out</button>
				   		<a href="/profile">
				   			<button type="button" class="btn btn-default navbar-btn">Profile</button>
				   		</a>
				   </div>
		    </div>
		  </div>
		</nav>
    <div class="container">
    	{{ yield }}
    </div>


  <script type="text/javascript">
  function login() {
  	window.location = "/login";
  }

  function signup() {
  	window.location = "/signup";
  }

  function signout() {
  	$.ajax({
	    type: "DELETE",
	    url: "/login",
	    success: function(){
	       window.location = "/"
	    }
		});
  }

  function getCookie(w){
		cName = "";
		pCOOKIES = new Array();
		pCOOKIES = document.cookie.split('; ');
		for(bb = 0; bb < pCOOKIES.length; bb++){
			NmeVal  = new Array();
			NmeVal  = pCOOKIES[bb].split('=');
			if(NmeVal[0] == w){
				cName = unescape(NmeVal[1]);
			}
		}
		return cName;
	}

	function removeReminder(id) {
		$.ajax({
	    type: "DELETE",
	    url: "/reminder"  + '?' + $.param({"id": id}),
	    success: function(){
	       window.location = "/profile"
	    }
		});
	}

  if (getCookie("isLoggedIn") == "true") {
  	document.getElementById("loggedIn").style.display = "block";
  	document.getElementById("loggedOut").style.display = "none";
	}
	else {
		document.getElementById("loggedIn").style.display = "none";
  	document.getElementById("loggedOut").style.display = "block";
	}
  </script>
  </body>
</html>

