<h1>Welcome {{.Name}}!</h1>
<p>Notification Email: {{.Email}}</p>

<div class="new-reminder">
	<a href="/">
		<button class="btn btn-success">New Reminder</button>
	</a>
</div>

<div class="reminders">
	<table class="table table-hover table-bordered">
		<tr>
					<th>Reminders</th>
					<th>Created on</th>
					<th>Remove</th>
		</tr>
		{{range $index, $reminder := .Reminders}}
		<tr>
			<td>{{$reminder.Reminder}}</td>
			<td>{{$reminder.Date}}</td>
			<td class="remove"><a href="#" onClick="removeReminder('{{$reminder.Id}}');" class="remove" >X</a></td>
		</tr>
		{{end}}
	</table>
</div>
