{{.}}
<form class="form-signin" role="form" action="/signup" method="post">
  <h2 class="form-signin-heading">Sign Up</h2>
  <label for="inputName" class="sr-only">Name</label>
  <input type="text" name="name" id="email" class="form-control" placeholder="Bob Jones" required="true" autofocus="">
  <label for="inputEmail" class="sr-only">Email</label>
  <input type="text" name="email" id="email" class="form-control" placeholder="me@example.com" required="true" autofocus="">
  <input type="password" name="password" id="password" class="form-control" placeholder="password" required="true" autofocus="">
   <input type="password" name="confirmPassword" id="password" class="form-control" placeholder="confirm password" required="true" autofocus="">
  <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
</form>